.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: gray;
  min-width: 100px;
  min-height: 100px;
}
.first-div {
  background-color: red;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 50%;
  height: 50vh;
}

.second-div {
  background-color: yellow;
  width: 50%;
  height: 50vh;
  overflow: hidden;
}
.second-div img {
  width: 100%;
}
.third-div {
  background-color: green;
  width: 50%;
  height: 50vh;
  overflow: hidden;
}

.fourth-div {
  width: 50%;
  height: 50vh;
  overflow: hidden;
}
.fourth-div img {
  width: 100%;
}
.div-central-tela {
  position: absolute;
  top: 241px;
  left: 247px;
  background: orange;
  width: 50%;
  height: 50vh;
  overflow: hidden;
}
